.banner{
	background-image: linear-gradient(180deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.3) 75%), url(../../images/background.jpg);
	color: black;
	padding: 200px 0px;
	background-size: cover;
	background-position: center bottom;
	margin: 0px;
}

.banner h1 {
	font-size: 70px;
	color: rgb(105,105,105);
	opacity: 0.8;
	position: relative;
	top: -200px;
}

.banner h2 {
	font-size: 45px;
	font-weight: lighter;
	opacity: 0.6;
	color: rgb(105,105,105);
	position: relative;
	top: -250px;
} 
