.cards{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}


.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 1);
  border-radius: 6px;
  margin: 8px;
  flex-basis: 250px;
  flex-grow: 1;
  color: black;
  background-color: rgb(105,105,105);
}
.card img {
  width: 150px;
  border-radius: 6px;
}


.card h3 {
  flex-grow: 1;
  padding-left: 2px;
  font-size: 13px;
  opacity: 0,8;
  margin: 10px;
  position: relative;
  left: 35px;
  top: -58px;
}

.card h4{
	font-size: 9px;
  position: relative;
  left: -43px;
  top: 18px;
}

